@use "./scss" as *;
@use "./components/people";
.app {
  text-align: center;
  height: 100vh;
  background-color: $primary-color;
  @include flex(center, center);

  &__container {
    padding: 1.5rem;
    background-color: $white;
    min-width: 270px;
    border-radius: 7px;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.15);
  }

  &__notification {
    color: $black;
    text-align: start;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  &__button {
    padding: 8px 0;
    color: $white;
    background-color: $primary-color;
    border-radius: 3px;
    font-size: 0.9rem;
    margin-top: 25px;
  }
}
